@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><a href="/File/MP_verify_itgZgT1T3iVkkTxg" class="btn btn-primary btn-lg">MP_verify_itgZgT1T3iVkkTxg</a></p>
    <p><a href="~/Views/File/MP_verify_itgZgT1T3iVkkTxg.txt">~/Views/File/MP_verify_itgZgT1T3iVkkTxg.txt</a></p>
    <a href="/Sequence" class="btn btn-primary btn-lg">Sequence</a>
    <a href="/Sequence/GetCode" class="btn btn-primary btn-lg">Sequence GetCode</a>
    <a href="/Request/Param" class="btn btn-primary btn-lg">Request Param</a>
    <a href="/Request/DoXml" class="btn btn-primary btn-lg">Request DoXml</a>
    <a href="/Return/ToBaidu" class="btn btn-primary btn-lg">Return ToBaidu</a>
    <a href="/Return/ReturnImage" class="btn btn-primary btn-lg">Return ReturnImage</a>
    <a href="/Attribute/Index?7b=def&ls=ll&name=arvin" class="btn btn-primary btn-lg">Attribute</a>
    <a href="/Attribute/First?7b=def&ls=ll&name=arvin" class="btn btn-primary btn-lg">Attribute First</a>
    <a href="/Attribute/First?e=400&ls=ll&name=arvin" class="btn btn-primary btn-lg">Attribute First E</a>
    <a href="/Attribute/Second?7b=def&ls=ll&name=arvin" class="btn btn-primary btn-lg">Attribute Second</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="/Request/Index?p1=abc&p2=中国">Request</a></p>
    </div>
    <div class="col-md-4">
        <form method="post" action="/Request/Index">
            <input type="text" name="p1" value="abc"/>
            <input type="text" name="p2" value="中国"/>
            <input type="submit" value="提交"/> 
        </form>
    </div>
</div>