@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	margin: 0
}
body {
	background: #fff
}
a.gb1, a.gb2, a.gb3, .link {
	color: #1a0dab !important
}
.ts {
	border-collapse: collapse
}
.ts td {
	padding: 0
}
#res, #res .j {
	line-height: 1.2
}
.g {
	line-height: 1.2;
	text-align: left
}
.ti, .bl {
	display: inline
}
.ti {
	display: inline-table
}
#rhs_block {
	padding-bottom: 15px
}
a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu {
	color: #1a0dab
}
.mblink:visited, a:visited {
	color: #609
}
.cur, .b {
	font-weight: bold
}
.j {
	width: 42em;
	font-size: 82%
}
.s {
	max-width: 48em
}
.sl {
	font-size: 82%
}
.hd {
	position: absolute;
	width: 1px;
	height: 1px;
	top: -1000em;
	overflow: hidden
}
.f, .f a:link, .m {
	color: #666
}
.c h2 {
	color: #666
}
.mslg cite {
	display: none
}
.ng {
	color: #dd4b39
}
h1, ol, ul, li {
	margin: 0;
	padding: 0
}
.g, body, html, input, .std, h1 {
	font-size: small;
	font-family: arial, sans-serif
}
.c h2, h1 {
	font-weight: normal
}
.blk a {
	color: #000
}
#nav a {
	display: block
}
#nav .i {
	color: #a90a08;
	font-weight: bold
}
.csb, .ss, .micon, .close_btn, .mbi {
	background: url(/images/nav_logo242.png) no-repeat;
	overflow: hidden
}
.csb, .ss {
	background-position: 0 0;
	height: 40px;
	display: block
}
.mbi {
	background-position: -153px -70px;
	display: inline-block;
	float: left;
	height: 13px;
	margin-right: 3px;
	margin-top: 4px;
	width: 13px
}
#nav td {
	padding: 0;
	text-align: center
}
.ch {
	cursor: pointer
}
h3, .med {
	font-size: medium;
	font-weight: normal;
	margin: 0;
	padding: 0
}
#res h3 {
	font-size: 18px
}
.e {
	margin: 2px 0 .75em
}
.slk div {
	padding-left: 12px;
	text-indent: -10px
}
.blk {
	border-top: 1px solid #6b90da;
	background: #f0f7f9
}
#cnt {
	clear: both
}
#res {
	padding-right: 1em;
	margin: 0 16px
}
.xsm {
	font-size: x-small
}
ol li {
	list-style: none
}
.sm li {
	margin: 0
}
.gl, #foot a, .nobr {
	white-space: nowrap
}
#foot #navcnt a {
	color: #4285f4;
	font-weight: normal
}
#foot #navcnt .cur {
	color: rgba(0,0,0,0.87);
	font-weight: normal
}
.sl, .r {
	display: inline;
	font-weight: normal;
	margin: 0
}
.r {
	font-size: medium
}
h4.r {
	font-size: small
}
.vshid {
	display: none
}
.gic {
	position: relative;
	overflow: hidden;
	z-index: 0
}
.nwd {
	font-size: 10px;
	padding: 0 16px 30px 16px;
	text-align: center
}
#rhs {
	display: block;
	margin-left: 712px;
	padding-bottom: 10px;
	min-width: 268px
}
#nyc {
	bottom: 0;
	display: none;
	left: 0;
	margin-left: 663px;
	min-width: 317px;
	overflow: hidden;
	position: fixed;
	right: 0;
	visibility: visible
}
.mdm #nyc {
	margin-left: 683px
}
.mdm #rhs {
	margin-left: 732px
}
.big #nyc {
	margin-left: 743px
}
.big #rhs {
	margin-left: 792px;
}
body .big #subform_ctrl {
	margin-left: 229px
}
.rhslink {
	width: 68px
}
.rhsdw .rhslink {
	width: 156px
}
.rhsimg {
	width: 70px
}
.rhsimg.rhsdw {
	width: 158px
}
.rhsimg.rhsn1st {
	margin-left: 16px
}
#nyc .rhsvw, #rhs .scrt.rhsvw, #rhs table.rhsvw {
	border: 0
}
#nyc .rhsvw {
	padding-left: 0;
	padding-right: 0
}
#rhs .rhsvw {
	border: 1px solid #ebebeb;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 424px;
}
#nyc .rhsvw {
	width: 424px
}
#center_col .rhsl4, #center_col .rhsl5, #center_col .rhsn5 {
	display: none
}
#rhs .rhstc4 .rhsvw, #nyc.rhstc4 .rhsvw {
	width: 336px
}
#rhs .rhstc3 .rhsvw, #nyc.rhstc3 .rhsvw {
	width: 248px
}
.rhstc4 .rhsg4, .rhstc3 .rhsg4, .rhstc3 .rhsg3 {
	background: none !important;
	display: none !important
}
.rhstc5 .rhsl5, .rhstc5 .rhsl4, .rhstc4 .rhsl4 {
	background: none !important;
	display: none !important
}
.rhstc4 .rhsn4 {
	background: none !important;
	display: none !important
}
.nrgt {
	margin-left: 22px
}
.mslg .vsc {
	border: 1px solid transparent;
	border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: opacity .2s ease;
	margin-top: 2px;
	padding: 3px 0 3px 5px;
	transition: opacity .2s ease;
	width: 294px
}
.mslg>td {
	padding-right: 6px;
	padding-top: 4px
}
button.vspib {
	display: none
}
div.vspib {
	background: transparent;
	bottom: 0;
	cursor: default;
	height: auto;
	margin: 0;
	min-height: 40px;
	padding-left: 9px;
	padding-right: 4px;
	position: absolute;
	right: -37px;
	top: -2px;
	width: 28px;
	z-index: 3
}
.nyc_open div.vspib {
	z-index: 103
}
div.vspib:focus {
	outline: none
}
.vspii .vspiic {
	background: url(/images/nav_logo242.png);
	background-position: -3px -260px;
	width: 15px;
	height: 13px;
	margin-left: 6px;
	margin-top: -7px;
	opacity: .3;
	position: absolute;
	top: 50%;
	visibility: hidden
}
.vsh .vsc:hover .vspii .vspiic {
	visibility: visible
}
.vsh .vspib .vspii:hover .vspiic {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .25s ease
}
.vsh .vsdth .vspiic {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 1.5s ease
}
.nyc_open.vsh .vsdth .vspiic, .nyc_open.vsh .vspib .vspii:hover .vspiic {
	-webkit-transition: 0
}
.vspib:focus .vspiic {
	opacity: 1;
	visibility: visible
}
.vsh .vspib:focus .vspiic {
	opacity: .3;
	visibility: hidden
}
.vso .vspiic, .vso .vspib:focus .vspiic {
	opacity: 1;
	visibility: visible
}
.vspii {
	border: 1px solid transparent;
	border-radius: 2px;
	border-right: none;
	cursor: default;
	user-select: none;
	-webkit-user-select: none
}
.vsh.nyc_opening .vsc:hover .vspii, .vsh.nyc_open .vsc:hover .vspii, .vso .vspii {
	background-color: #fafafa;
	border-color: #e6e6e6;
	height: 100%
}
.vsh.nyc_open .mslg .vsc:hover, .vsh.nyc_opening .mslg .vsc:hover {
	border-right-color: #ebebeb
}
.vso .vspib {
	padding-right: 0
}
.nyc_open #nycx {
	background: url(/images/nav_logo242.png) no-repeat;
	background-position: -140px -230px;
	height: 11px;
	width: 11px
}
.vsc {
	display: inline-block;
	position: relative;
	width: 100%
}
#res h3.r {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	white-space: nowrap
}
#res h3.inl {
	display: inline;
	white-space: normal
}
em, .rbt b, .c b {
	color: #dd4b39;
	font-style: normal;
	font-weight: normal
}
#res .std, .c, .slk {
	line-height: 146%
}
#tads, #tadsb {
	margin-bottom: 1.4em
}
#res .r {
	line-height: 1.2
}
#res .s {
	line-height: 1.54
}
#res .g .ts {
	max-width: 42em
}
.fwtc {
	width: 42em
}
#guser {
	height: 16px
}
.ab_button {
	font-size: 12px !important
}
ol, ul, li {
	border: 0;
	margin: 0;
	padding: 0
}
.g {
	margin-top: 0;
	margin-bottom: 26px
}
.ibk {
	display: inline-block;
	vertical-align: top
}
.tsw {
	width: 595px
}
#cnt {
	min-width: 833px;
	margin-left: 0
}
.mw {
	max-width: 1197px
}
.big .mw {
	max-width: 1280px
}
#cnt #center_col, #cnt #foot {
	width: 632px
}
.gbh {
	top: 24px
}
#gbar {
	margin-left: 8px;
	height: 20px
}
#guser {
	margin-right: 8px;
	padding-bottom: 5px !important
}
.tsf-p {
	padding-left: 150px;
	margin-right: 46px;
	max-width: 739px
}
.big .tsf-p {
	margin-right: 322px;
	padding-left: 150px
}
.mbi {
	margin-bottom: -1px
}
.uc {
	padding-left: 8px;
	position: relative;
	margin-left: 128px;
}
.ucm {
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 8px
}
.col {
	float: left
}
#leftnavc, #center_col, #rhs {
	position: relative
}
#center_col {
	margin-left: 138px;
	margin-right: 264px;
}
.mdm #center_col {
	margin-left: 138px;
}
.big #center_col {
	margin-left: 138px;
}
#subform_ctrl {
	font-size: 11px;
	margin-right: 480px;
	position: relative;
	z-index: 99
}
#subform_ctrl a.gl {
	color: #1a0dab
}
#center_col {
	clear: both
}
#res {
	border: 0;
	margin: 0;
	padding: 0 16px;
}
#extrares {
	padding: 0 16px
}
#ires {
	margin-top: 6px
}
.micon, .close_btn {
	border: 0
}
.close_btn {
	background-position: -138px -84px;
	float: right;
	height: 14px;
	width: 14px
}
.mitem {
	border-bottom: 1px solid transparent;
	line-height: 29px;
	opacity: 1.0;
}
.mitem .kl {
	padding-left: 16px
}
.mitem .kl:hover, .msel .kls:hover {
	color: #222;
	display: block
}
.mitem>.kl {
	color: #222;
	display: block
}
.msel {
	color: #dd4b39;
	cursor: pointer
}
.msel .kls {
	border-left: 5px solid #dd4b39;
	padding-left: 11px
}
.mitem>.kl, .msel {
	font-size: 13px
}
#tbd {
	display: block;
	min-height: 1px
}
.tbt {
	font-size: 13px;
	line-height: 1.2
}
.tbnow {
	white-space: nowrap
}
.tbos, .tbots {
	font-weight: bold
}
.tbst {
	margin-top: 8px
}
#iszlt_sel.tbcontrol_vis {
	margin-left: 0
}
.tbpc, .tbpo {
	font-size: 13px
}
.tbpc, .tbo .tbpo {
	display: inline
}
.tbo .tbpc, .tbpo, #set_location_section {
	display: none
}
.lco #set_location_section {
	display: block
}
#cdr_opt {
	padding-left: 8px;
	text-indent: 0
}
.tbou #cdr_frm {
	display: none
}
#cdr_frm, #cdr_min, #cdr_max {
	color: rgb(102,102,102)
}
#cdr_min, #cdr_max {
	font-family: arial, sans-serif;
	width: 100%
}
#cdr_opt label {
	display: block;
	font-weight: normal;
	margin-right: 2px;
	white-space: nowrap
}
a:link, .w, .q:active, .q:visited {
	cursor: pointer
}
.osl a, .gl a, #tsf a, a.mblink, a.gl, a.fl, .slk a, .bc a, .flt, a.flt u, .blg a, #appbar a {
	text-decoration: none
}
.osl a:hover, .gl a:hover, #tsf a:hover, a.mblink:hover, a.gl:hover, a.fl:hover, .slk a:hover, .bc a:hover, .flt:hover, a.flt:hover u, .tbotu:hover, .blg a:hover {
	text-decoration: underline
}
#tads a, #tadsb a, #res a, #rhs a, #taw a {
	text-decoration: none
}
#brs a, .nsa, .tbt a, .tbotu:hover, #tbpi, #nycntg a:hover, .fl, .navend span, #botstuff a, .flt:hover u, .mlocsel span, #rhs .gl a, #nav a.pn {
	text-decoration: none
}
#ss-box a:hover {
	text-decoration: none
}
.osl {
	color: #777
}
#gbi, #gbg {
	border-color: #a2bff0 #558be3 #558be3 #a2bff0
}
#gbi a.gb2:hover, #gbg a.gb2:hover, .mi:hover {
	background-color: #558be3
}
#guser a.gb2:hover, .mi:hover, .mi:hover * {
	color: #fff !important
}
#guser {
	color: #000
}
#imagebox_bigimages .th {
	border: 0
}
.vsc:hover .lupin, .intrlu:hover .lupin, .lupin.luhovm, #ires:hover .vsc:hover .lupin.luhovm {
	background-image: url(/images/mappins_red.png) !important;
}
#ires:hover .lupin.luhovm {
	background-image: url(/images/mappins_grey.png) !important;
}
.vsc:hover .lucir, .intrlu:hover .lucir, .lucir.luhovm, #ires:hover .vsc:hover .lucir.luhovm {
	background-image: url(/images/mapcircles_red.png) !important;
}
#ires:hover .lucir.luhovm {
	background-image: url(/images/mapcircles_grey.png) !important;
}
#foot .ftl {
	margin-right: 12px
}
#foot {
	visibility: hidden
}
#fll a, #bfl a {
	color: #1a0dab;
	margin: 0 12px;
	text-decoration: none
}
.stp {
	margin: 7px 0 17px
}
body {
	color: #222
}
.s {
	color: #545454
}
.s a:visited em {
	color: #609
}
.s a:active em {
	color: #dd4b39
}
.sfcc {
	width: 833px;
}
#tsf {
	width: 833px;
}
.big .sfcc {
	max-width: 1129px
}
.big #tsf {
	width: 1109px
}
#topstuff .obp {
	padding-top: 6px
}
.slk {
	margin-top: 6px !important
}
.st {
	line-height: 1.4;
	word-wrap: break-word
}
.kt {
	border-spacing: 2px 0;
	margin-top: 1px
}
.esw {
	vertical-align: text-bottom;
}
.cpbb, .kpbb, .kprb, .kpgb, .kpgrb, .ksb {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin: 2px 0;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	-webkit-transition: all 0.218s, visibility 0s;
	transition: all 0.218s, visibility 0s;
	-webkit-user-select: none
}
.ab_button {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin: 2px 0;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	-webkit-transition: all 0.218s, visibility 0s;
	transition: all 0.218s, visibility 0s;
	-webkit-user-select: none
}
#top_nav .ab_button {
	background: none;
	border: none;
	font: inherit;
	height: auto;
	margin: 0;
	min-width: 0;
	padding: 0;
	width: auto
}
#top_nav .ab_button:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none
}
.ab_button.left {
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	border-right-color: transparent;
	margin-right: 0
}
.ab_button.right {
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	margin-left: -1px
}
.kbtn-small {
	min-width: 26px;
	width: 26px
}
.ksb {
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	color: #444;
}
.ab_button {
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	color: #444;
}
a.ksb, .div.ksb {
	color: #444;
	text-decoration: none;
	cursor: default
}
a.ab_button {
	color: #444;
	text-decoration: none;
	cursor: default
}
.cpbb:hover, .kpbb:hover, .kprb:hover, .kpgb:hover, .kpgrb:hover, .ksb:hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-transition: all 0.0s;
	transition: all 0.0s
}
.ab_button:hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-transition: all 0.0s;
	transition: all 0.0s
}
#hdtb-tls:hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-transition: all 0.0s;
	transition: all 0.0s
}
.ksb:hover {
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	border: 1px solid #c6c6c6;
	color: #222;
}
.ab_button:hover {
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	border: 1px solid #c6c6c6;
	color: #222;
}
#hdtb-tls:hover {
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	border: 1px solid #c6c6c6;
	color: #222;
}
.ksb:active {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#hdtb-tls:active {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.ksb.ksbs, .ksb.ksbs:hover {
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
	background-image: -webkit-linear-gradient(top, #eee, #e0e0e0);
	background-image: linear-gradient(top, #eee, #e0e0e0);
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: #222;
	margin: 0
}
.ksb.sbm {
	height: 20px;
	line-height: 18px;
	min-width: 35px
}
.ksb.sbf {
	height: 21px;
	line-height: 21px;
	min-width: 35px
}
.ksb.mini {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 17px;
	line-height: 17px;
	min-width: 0
}
.ksb.left {
	-webkit-border-radius: 2px 0 0 2px
}
.ksb.mid {
	-webkit-border-radius: 0;
	margin-left: -1px
}
.ksb.right {
	-webkit-border-radius: 0 2px 2px 0;
	margin-left: -1px
}
.ktf {
	-webkit-border-radius: 1px;
	-webkit-box-sizing: content-box;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	box-sizing: content-box;
	color: #333;
	display: inline-block;
	height: 29px;
	line-height: 27px;
	padding-left: 8px;
	vertical-align: top
}
.ktf:hover {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}
.ktf:focus {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	border: 1px solid #4d90fe;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	outline: none
}
.ktf.mini {
	font-size: 11px;
	height: 17px;
	line-height: 17px;
	padding: 0 2px
}
#sbfrm_l {
	visibility: inherit !important
}
#rcnt {
	margin-top: 3px;
}
#appbar, #rhscol {
	min-width: 1100px
}
#top_nav {
	min-width: 1100px
}
#appbar {
	background: white;
	-webkit-box-sizing: border-box;
	width: 100%
}
.ab_wrp {
	height: 57px;
	border-bottom: 1px solid #ebebeb
}
#main {
	width: 100%
}
#ab_name, #ab_shopping {
	color: #dd4b39;
	font: 20px "Arial";
	margin-left: 15px;
	position: absolute;
	top: 17px
}
#ab_name a {
	color: #999
}
#ab_shopping a {
	color: #dd4b39
}
#ab_ctls {
	float: right;
	position: relative;
	right: 29px;
	z-index: 3;
	line-height: 1;
	padding-top: 28px
}
#sslock {
	background: url(file:///C|/Users/Administrator/Desktop/images/srpr/safesearchlock_transparent.png) right top no-repeat;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 260px;
	-webkit-user-select: none
}
.ab_ctl {
	display: inline-block;
	position: relative;
	margin-left: 16px;
}
.ab_ctl.action-menu {
	margin-top: 1px;
	vertical-align: middle
}
#hdtbSum .ab_ctl {
	vertical-align: baseline
}
a.ab_button, a.ab_button:visited {
	display: inline-block;
	color: #444;
	margin-top: 1px
}
a.ab_button:hover {
	color: #222
}
#appbar a.ab_button:active, a.ab_button.selected, a.ab_button.selected:hover {
	color: #333
}
.ab_button:focus {
	outline: none
}
.ab_button.selected:focus {
	border-color: #ccc
}
.ab_icon {
	background: url(/images/nav_logo242.png) no-repeat;
	display: inline-block;
	opacity: 0.667;
	vertical-align: middle
}
.ab_button:hover>span.ab_icon {
	opacity: 0.9
}
#ab_opt_icon {
	background-position: -42px -259px;
	margin-top: -2px;
	border-radius: 50%;
	display: inline-block;
	padding: 4px;
	vertical-align: middle
}
#ab_opt_icon:hover {
	color: #777
}
.selected #ab_opt_icon, #ab_opt_icon:active {
	background: rgba(0,0,0,0.1)
}
.ab_dropdown {
	background: #fff;
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 13px;
	padding: 6px 0;
	position: absolute;
	right: 0;
	top: 32px;
	white-space: nowrap;
	z-index: 3;
	-webkit-transition: opacity 0.218s;
	transition: opacity 0.218s;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2)
}
.ab_dropdown:focus, .ab_dropdownitem:focus, .ab_dropdownitem a:focus {
	outline: none
}
.ab_dropdownitem {
	margin: 0;
	padding: 0;
	-webkit-user-select: none
}
.ab_dropdownitem.selected {
	background-color: #eee
}
.ab_dropdownitem.checked {
	background-image: url(//ssl.gstatic.com/ui/v1/menu/checkmark.png);
	background-position: left center;
	background-repeat: no-repeat
}
.ab_dropdownitem.disabled {
	cursor: default;
	border: 1px solid #f3f3f3;
	border: 1px solid rgba(0,0,0,0.05);
	pointer-events: none
}
a.ab_dropdownitem.disabled {
	color: #b8b8b8
}
.ab_dropdownitem.active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}
.ab_arrow {
	background: url(//ssl.gstatic.com/ui/v1/zippy/arrow_down.png);
	background-position: right center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 4px;
	margin-left: 3px;
	margin-top: -3px;
	vertical-align: middle;
	width: 7px
}
.ab_dropdownlnk, .ab_dropdownlnkinfo {
	display: block;
	padding: 8px 20px 8px 16px
}
a.ab_dropdownlnk, a.ab_dropdownlnk:visited, a.ab_dropdownlnk:hover, #appbar a.ab_dropdownlnk:active {
	color: #333
}
a.ab_dropdownlnkinfo, a.ab_dropdownlnkinfo:visited, a.ab_dropdownlnkinfo:hover, #appbar a.ab_dropdownlnkinfo:active {
	color: #15c
}
.ab_dropdownchecklist {
	padding-left: 30px
}
.ab_dropdownrule {
	border-top: 1px solid #ebebeb;
	margin-bottom: 10px;
	margin-top: 9px
}
#top_nav {
	-webkit-user-select: none
}
.ksb.mini {
	margin-top: 0px;
}
.ab_tnav_wrp {
	height: 33px
}
#hdtb-msb>.hdtb-mitem:first-child, .ab_tnav_wrp, #cnt #center_col, .mw #center_col {
	margin-left: 150px
}
.mw #rhs {
	margin-left: 820px
}
.mw #nyc {
	margin-left: 651px
}
.klnav.klleft {
	margin-left: 14px !important
}
.tbt {
	margin-left: 8px;
	margin-bottom: 28px
}
#tbpi.pt.pi {
	margin-top: -20px
}
#tbpi.pi {
	margin-top: 0
}
.tbo #tbpi.pt, .tbo #tbpi {
	margin-top: -20px
}
#tbpi.pt {
	margin-top: 8px
}
#tbpi {
	margin-top: 0
}
#tbrt {
	margin-top: -20px
}
.lnsep {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 14px;
	margin-left: 10px;
	margin-right: 4px;
	margin-top: 14px
}
.tbos, .tbots, .tbotu {
	color: #dd4b39
}
.tbou>a.q, #tbpi, #tbtro, .tbt label, #set_location_section a {
	color: #222
}
.th {
	border: 1px solid #ebebeb
}
#resultStats {
	line-height: 33px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
#resultStats {
	padding-left: 16px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 8px
}
#subform_ctrl {
	margin-left: 149px
}
.big #subform_ctrl {
	padding-right: 2px;
	margin-left: 229px
}
.mdm .mitem .kl {
	padding-left: 28px
}
.big .mitem .kl {
	padding-left: 44px
}
.mdm .msel .kls {
	padding-left: 23px
}
.big .msel .kls {
	padding-left: 39px
}
.obsmo .dp0, .dp1 {
	display: none
}
.obsmo .dp1 {
	display: inline
}
#obsmtc a, .rscontainer a {
	text-decoration: none
}
#obsmtc a:hover .ul, .rscontainer a:hover .ul {
	text-decoration: underline
}
.authorship_attr {
	white-space: nowrap
}
.currency input[type=text] {
	background-color: white;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	box-sizing: border-box;
	color: #333;
	display: inline-block;
	height: 29px;
	line-height: 27px;
	padding-left: 8px;
	vertical-align: top;
	-webkit-border-radius: 1px;
	-webkit-box-sizing: border-box
}
.currency input[type=text]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1)
}
.currency input[type=text]:focus {
	border: 1px solid #4d90fe;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	outline: none;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3)
}
body.vasq #hdtbSum {
	height: 58px
}
body.vasq #hdtb-msb .hdtb-mitem.hdtb-msel, body.vasq #hdtb-msb .hdtb-mitem.hdtb-msel-pre {
	height: 15px;
	line-height: 15px;
	padding: 28px 16px 12px
}
#hdtb-msb .hdtb-mitem.hdtb-imb {
	height: 15px;
	line-height: 15px;
	padding-top: 28px
}
body.vasq .ab_tnav_wrp {
	height: 43px
}
body.vasq #topabar.vasqHeight {
	margin-top: -44px !important
}
body.vasq #resultStats {
	line-height: 43px
}
body.vasq .hdtb-mn-o, body.vasq .hdtb-mn-c {
	top: 38px
}
.ellip {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
._Clt {
	color: #006621;
	white-space: nowrap
}
hr {
	border: 0;
	border-bottom: 1px solid #ebebeb;
	margin: 0;
}
._ran {
	margin-left: 16px
}
._H1m {
	padding-top: 1px;
	margin-bottom: -1px
}
._ees {
	font-size: 16px;
	line-height: 20px;
	padding-top: 1px;
	margin-bottom: -1px
}
._g3m {
	color: rgba(0,0,0,.54)
}
._J5m {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
._Z1m {
	background-color: #fff;
	border-radius: 2px;
	margin-bottom: 26px;
	font-size: 13px;
	line-height: 20px;
	word-wrap: break-word;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin-left: -16px;
	margin-right: -16px;
	font-family: 'Roboto', arial, sans-serif
}
._Z1m>*:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px
}
._Z1m>*:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px
}
._lYn, ._bCp {
	padding-top: 16px;
	padding-bottom: 16px
}
._kYn, ._bCp {
	padding-left: 16px;
	padding-right: 16px;
}
/*right*/
g-blk {
	position: relative;
}
.kp-blk a {
	text-decoration: none
}
.kp-blk .mod:first-child {
	padding-top: 16px;
	border-radius: 2px
}
.kp-blk ._axe .mod:first-child {
	padding-top: 0;
	border-top: 0
}
.kp-blk .match-mod-horizontal-padding, .kp-blk .mod:not(._tN) {
	padding-left: 16px;
	padding-right: 16px;
}
.qs-ic .kp-blk .mod:not(._tN) {
	padding-left: 26px;
	padding-right: 26px
}
.kp-blk {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	border-radius: 2px;
}
#center_col .kp-blk {
	margin-left: -16px;
	margin-right: -16px;
	position: relative
}
#rhs .kp-blk {
	line-height: 1.24;
	margin: 6px -32px 0 2px
}
#rhs .kp-blk .mod:not(._tN) {
	padding-left: 15px;
	padding-right: 15px
}
#rhs .g-blk.rhsvw {
	border: 0;
	padding: 0
}
.rfli .kp-blk {
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}
.kp-blk .g:not(.g-blk) {
	margin: 0
}
hr._Xfc {
	background-color: rgba(0,0,0,0.1);
	border: 0;
	height: 1px;
	margin: 0
}
.kp-blk>.vk_arc, .kp-blk>div>.vk_arc {
	margin: 0
}
.kp-blk._CCd .vk_arc {
	margin-top: 0
}
.kp-blk .g {
	margin-bottom: 0
}
._zCd {
	padding-bottom: 7px
}
._tX {
	color: #1a0dab !important
}
._Jw {
	font-size: 13px
}
._Jw.kp-blk {
	padding-bottom: 1px
}
._Jw.kp-blk .mod, ._kTi .mod {
	line-height: 1.24
}
.g-blk.mnr-c .kp-blk .mnr-c {
	box-shadow: none
}
._thf .mod:first-child {
	padding-top: 10px;
	padding-bottom: 10px
}
._thf ._pk {
	color: #808080;
	font-size: 20px
}
._Z7 .g, ._Z7 .rc, ._sZb .rc {
	clear: both;
	padding-bottom: 0
}
._sZb .g {
	clear: both;
	padding-bottom: 10px
}
._Fif .g {
	padding-bottom: 11px
}
._Z7 .mod, ._sZb .mod {
	clear: none
}
._Z7 .g, ._sZb .g, ._rod .g, ._thf .g, ._Fif .g {
	padding-left: 16px;
	padding-right: 16px
}
._Z7 .g:last-child, ._rod .g:last-child, ._thf .g:last-child {
	padding-bottom: 16px
}
._Hi .mod:not(._tN) {
	border-top: 1px solid #e5e5e5;
	margin-top: 16px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px
}
._Hi .mod:first-child {
	border-top: 0;
	padding-top: 0;
}
.xpdclose ._Wbe {
	background-color: #fff
}
.xpdopen ._Wbe {
	background-color: #4285f4
}
._gn {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #fff;
}
._Gbo:not(.qs-it) .xpdopen ._axe, .kp-hca .kp-rgc {
	-webkit-box-orient: vertical;
	flex-direction: column;
	flex-direction: column
}
._Gbo:not(.qs-it) .xpdopen ._OPu, .kp-hca ._OPu {
	-webkit-box-ordinal-group: -1;
	-webkit-flex-order: -1;
	order: -1;
	order: -1;
	width: 100%
}
._axe .kno-ibrg img {
	display: block
}
._axe .kno-ecr-pt {
	display: block
}
._NLu {
	box-shadow: 0 2px 4px #e5e5e5
}
.fixed-title {
	color: #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	text-overflow: ellipsis;
	transform-origin: left;
	transform-origin: left;
	white-space: nowrap
}
._xNk a {
	outline: 0
}
._xNk :focus {
	background: rgba(255,255,255,0.25)
}
._T9h {
	min-height: 160px
}
._Xst {
	min-height: 64px
}
.kp-hc {
	margin-bottom: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	position: relative;
	display: inline-block;
	width: 100%
}
._gn .kp-hc {
	padding-top: 20px;
	padding-bottom: 20px
}
._rod .xpdclose ._Wbe .kp-hc {
	padding-bottom: 0
}
._axe {
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	align-items: center;
	display: -webkit-box;
	display: flex;
	display: -ms-flexbox;
	display: flex
}
._cFb {
	-ms-flex-negative: 10;
	flex-shrink: 10;
	flex-shrink: 10;
	flex: 1 10;
	-webkit-box-flex: 10;
	min-width: 0;
}
.mod {
	clear: both
}
html .kp-blk .xpdclose ._HWg, html .kp-blk .xpdopen ._IWg {
	padding-top: 0
}
._pk {
	color: #222;
	font-size: 18px;
	position: relative
}
._pk a {
	color: #222
}
.xpdopen ._qqi {
	overflow: inherit
}
.xpdclose ._T1i:not(:empty), .xpdopen ._U1i:not(:empty) {
	border-top: solid 1px #EBEBEB;
	border-radius: 0
}
._E3j {
	padding-top: 0.1px
}
.xpdclose ._VCh, .xpdopen ._WCh {
	padding-bottom: 16px
}
.xpdclose .kp-header ._VCh, .xpdopen .kp-header ._WCh {
	padding-bottom: 0
}
._Rqb .xpdopen ._Wtj, ._RJe .xpdclose ._Gtj {
	padding-bottom: 16px
}
._Rqb .xpdclose .mod._dXg, ._Rqb .xpdopen .mod._eXg {
	padding-bottom: 0
}
._RJe .xpdclose .mod._Gtj {
	padding-bottom: 16px
}
#rhs .kp-blk .xpdclose ._HWg, #rhs .kp-blk .xpdopen ._IWg {
	padding-top: 0
}
#rhs ._Rqb .xpdopen ._Wtj, #rhs ._RJe .xpdclose ._Gtj {
	padding-bottom: 15px
}
#rhs ._Rqb .xpdclose .mod._dXg, #rhs ._Rqb .xpdopen .mod._eXg {
	padding-bottom: 0
}
._Ceo {
	box-shadow: none !important
}
.kno-shr-ld {
}
.kno-shr-ld._JNk {
	opacity: 0.25
}
._LNk {
	height: 24px;
	width: 24px;
	cursor: pointer
}
g-raised-button._onu {
	min-width: 0px
}
._MNk {
	vertical-align: middle;
	padding: 8px;
	height: 24px;
	width: 24px
}
g-raised-button ._MNk {
	padding: 0px
}
._Zxj {
	height: 24px;
	width: 24px;
	padding: 8px;
	position: absolute;
	right: 16px;
	top: 13px;
	cursor: pointer;
	color: rgba(0,0,0,.87)
}
._m8j {
	background-color: rgb(255,255,255);
	border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.22), 0px 20px 28px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.22), 0px 20px 28px 0px rgba(0,0,0,0.30);
	cursor: default;
	padding: 21px 24px 24px 24px;
	width: 220px;
	height: 263px;
	z-index: 1002
}
.fAwjXaCTMo5__visible, .fAwjXaCTMo5__overlay, .fAwjXaCTMo5__container, .fAwjXaCTMo5__content {
}
.dgd {
}
._FNg.fAwjXaCTMo5__visible {
	background-color: #000;
	opacity: 0.2;
	visibility: inherit
}
._ENg.fAwjXaCTMo5__visible {
	background-color: #000;
	opacity: 0.4;
	visibility: inherit
}
._SRg.fAwjXaCTMo5__visible {
	background-color: #333;
	opacity: 0.7;
	visibility: inherit
}
._dDr.fAwjXaCTMo5__visible {
	background-color: #000;
	opacity: 0.8;
	visibility: inherit
}
._xWr.fAwjXaCTMo5__visible {
	background-color: #f5f5f5;
	opacity: 0.85;
	visibility: inherit
}
.fAwjXaCTMo5__content.fAwjXaCTMo5__visible {
	opacity: 1
}
.fAwjXaCTMo5__container.fAwjXaCTMo5__visible {
	opacity: 1;
	visibility: inherit
}
.fAwjXaCTMo5__container._J7g {
	cursor: pointer
}
.fAwjXaCTMo5__container._J7g .fAwjXaCTMo5__content {
	cursor: default
}
.fAwjXaCTMo5__overlay {
	position: fixed;
	z-index: 9997;
	right: 0;
	bottom: -200px;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.25s;
	opacity: 0;
	visibility: hidden
}
.fAwjXaCTMo5__content {
	border-radius: 2px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	z-index: 9999;
	background-color: #fff;
	opacity: 0;
	text-align: left;
	vertical-align: middle;
	white-space: normal;
	overflow: hidden;
	transform: translateZ(0);
	box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.22), 0px 20px 28px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.22), 0px 20px 28px 0px rgba(0,0,0,0.30)
}
.fAwjXaCTMo5__content._yWr {
	border: 1px solid #d5d5d5;
	box-shadow: 0 2px 4px #d5d5d5;
	box-shadow: 0 2px 4px #d5d5d5
}
.fAwjXaCTMo5__content:focus {
	outline: none
}
.fAwjXaCTMo5__container {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 9998;
	text-align: center;
	vertical-align: middle;
	visibility: hidden;
	white-space: nowrap;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
	transform: translateZ(0)
}
.fAwjXaCTMo5__container::after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle
}
.fAwjXaCTMo5__container {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
._vqj {
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0
}
.dgd {
	visibility: hidden
}
.nsc {
	overflow: hidden
}
._dyj {
	color: rgba(0,0,0,.87);
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	padding-bottom: 19px
}
._Gxj {
	color: rgba(0,0,0,.87);
	cursor: pointer;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	padding: 8px 0 8px 0px
}
._Cfm {
	display: block;
	text-decoration: none
}
._Dfm {
	color: rgba(0,0,0,.87)
}
._Bxk {
	color: rgba(0,0,0,.54);
	font-size: 14px;
	line-height: 16px;
	padding-top: 11px;
	padding-bottom: 7px
}
._Cxk {
	cursor: pointer
}
input._myj {
	color: rgba(0,0,0,.87);
	font-size: 16px;
	line-height: 18px;
	width: 100%;
	cursor: pointer
}
._kyj {
	border-bottom: 1px solid rgba(0,0,0,0.12);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
._jyj {
	color: rgba(0,0,0,.87) !important;
	font-size: 16px;
	line-height: 26px;
	text-decoration: none
}
._Dxk {
	position: absolute;
	opacity: 0;
	z-index: -1
}
._ezl {
	float: right;
	font-size: 12px;
	padding-top: 16px
}
._o8j {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 24px
}
._lWu {
	display: block
}
._lWu:not([src]) {
	content: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
}
._wel ._LEg {
	padding: 4px 0
}
._wel ._QEg {
	top: 4px
}
._hFg {
	display: block;
	position: relative;
	margin: 0 3px;
	vertical-align: middle
}
._hFg._AFg {
	margin-top: 14px
}
._LEg {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.12);
	border-radius: 0;
	margin: 0
}
._LEg, ._QEg {
	font-size: 16px;
	width: 100%
}
._fwk ._LEg, ._fwk ._QEg {
	font-size: 14px
}
._QEg {
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}
._QEg._FHk {
	color: rgba(0,0,0,.26)
}
._QEg._uJk {
	color: rgba(0,0,0,.54)
}
._jFg {
	background-color: #5677fc;
	bottom: 0;
	height: 2px;
	left: 45%;
	margin-top: -2px;
	pointer-events: none;
	position: relative;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	visibility: hidden;
	width: 10px
}
._LEg:focus {
	outline: none
}
._LEg:focus~._jFg, ._jFg.hDC4CxNVA44__focus {
	left: 0;
	visibility: inherit;
	width: 100%
}
._LEg:invalid, ._LEg.hDC4CxNVA44__invalid {
border-color:#dd191d;
box-shadow:none
}
._cjl {
	color: #dd191d;
	display: none;
	font-size: 12px;
	margin-top: 4px
}
._LEg:invalid:enabled~._cjl, ._LEg.hDC4CxNVA44__invalid:enabled~._cjl {
display:block
}
._LEg:invalid~._jFg, ._LEg.hDC4CxNVA44__invalid~._jFg {
background-color:#dd191d
}
._LEg:focus~._QEg, ._QEg.hDC4CxNVA44__focus, ._QEg._FHk.hDC4CxNVA44__focus, ._QEg._uJk.hDC4CxNVA44__focus {
	color: #5677fc
}
._LEg:focus~._QEg, ._QEg.hDC4CxNVA44__focus, ._LEg.hDC4CxNVA44__dirty~._QEg {
	font-size: 12px;
	top: -16px;
	visibility: inherit
}
._LEg:-webkit-autofill~._QEg {
font-size:12px;
top:-16px;
visibility:inherit
}
._LEg:disabled {
	border-bottom: 1px dashed rgba(0,0,0,.12)
}
._Gze {
	display: inline-block;
	border: 1px solid;
	transform: translateY(-1px);
	margin: 2px 5px 2px 0;
	padding: 1px 3px 0;
	max-height: 14px;
	box-sizing: border-box;
	font-size: 11px;
	line-height: 11px
}
._fdf {
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 0
}
._Vyp {
	position: relative
}
#rhs ._fdf {
	padding-left: 15px;
	padding-right: 15px
}
._fdf._rdf {
	margin-bottom: 4px;
}
._sdf {
	font-size: 19px
}
._ndf {
	vertical-align: baseline
}
.rhstl3, .rhstl4, .rhstl5 {
}
.rhstc3 .rhstl3 {
	font-size: 24px
}
.rhstc3 .rhstl4, .rhstc4 .rhstl4 {
	font-size: 24px
}
.rhstc3 .rhstl3 ._eph {
	font-size: 16px
}
.rhstc3 .rhstl4 ._eph, .rhstc4 .rhstl4 ._eph {
	font-size: 16px
}
.rhstl5 {
	font-size: 24px
}
.rhstl5 ._eph {
	font-size: 16px
}
._eph {
	font-family: sans-serif;
	font-size: 20px;
	position: relative
}
._fph {
	left: 0;
	margin-left: -2px;
	position: absolute;
	top: 50%;
	margin-left: -2px;
	height: 20px;
	margin-top: -14px;
	width: 20px;
}
._tdf {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 15px
}
#rhs ._tdf {
	padding-left: 15px;
	padding-right: 15px
}
._tdf ._kk {
	margin-top: 2px;
	padding: 0 0 18px
}
._gdf {
	color: #777;
	font-family: arial, sans-serif;
	margin: 4px 0;
	overflow: hidden;
}
._kdf {
	color: #000
}
._jdf {
	color: #dd4b39
}
._gn ._gdf {
	color: rgba(255,255,255,.7)
}
._gn ._kdf {
	color: rgba(255,255,255,.7)
}
._gn ._LAf {
	color: #fff
}
._gn ._jdf {
	color: rgba(255,255,255,.7);
	font-weight: bold
}
._odf {
	position: relative
}
.rhstc4 ._idf, .rhstc5 ._idf, .rhstc5 ._udf {
	position: absolute;
	right: -10px;
	top: 0
}
._ykh {
	float: right;
	position: relative;
	right: -10px;
	top: 0
}
._czk {
	float: right;
	position: relative;
	color: #000;
	opacity: 0.54
}
._gn ._czk {
	color: #fff;
	opacity: 1.0
}
._gn ._czk .kno-shr-ld {
	opacity: 0.54
}
._axe ._elu {
}
._dzk {
}
._pUm {
	margin-left: 65px
}
._Fis {
	float: right;
	line-height: 1em
}
._Das {
	display: block;
	position: relative;
	left: -8px
}
._mdf {
	padding-top: 4px;
}
._ldf {
	display: inline-block;
	margin-right: 10px;
	margin-top: 2px
}
._chp {
	padding-left: 12px;
	padding-right: 12px
}
._K2h {
	height: 48px;
	top: 0;
	bottom: 0;
	right: 3px
}
._L2h {
	height: 40px;
	top: 0;
	right: 12px
}
._C7h {
	height: 48px;
	top: 0;
	right: 1px
}
._qUm {
	height: 60px;
	top: 0;
	bottom: 0;
	right: 55px
}
._rUm {
	margin: auto;
	position: absolute
}
._xvp {
	opacity: .001;
	pointer-events: none;
	position: absolute
}
._sUm {
	bottom: 0;
	height: 100%
}
._tUm {
	bottom: 0;
	height: 55px;
	top: 0;
	right: 56px
}
.kno-fb-d3 .kno-ecr-pt.kno-fb-ctx {
	display: block;
	margin-top: 4px;
	padding-right: 12px
}
._Z7 #media_result_group, ._sZb #media_result_group {
	padding: 0
}
.kno-mrg {
	position: relative;
	overflow: hidden
}
.kno-mrg .mod {
	display: inline
}
.kno-mrg-si {
	float: right;
}
#center_col .kno-mrg-si {
	margin-left: 20px;
	padding: 0
}
.rhstc4 ._rcb .rhsg4, .rhstc3 ._rcb .rhsg4, .rhstc3 ._rcb .rhsg3 {
	background: inherit !important;
	display: inherit !important;
	visibility: hidden
}
.rhstc5 ._rcb .rhsl5, .rhstc5 ._rcb .rhsl4, .rhstc4 ._rcb .rhsl4 {
	background: inherit !important;
	display: inherit !important;
	visibility: hidden
}
#iur {
	padding-bottom: 0;
	width: 600px
}
.kno-mrg .kno-ibrg {
	float: left
}
.kno-mrg-hnm .kno-ibrg {
	float: inherit
}
.kno-mrg-hnm .kno-ibrg {
	display: block
}
#iur .kno-ibrg {
	display: block
}
.img-brk {
}
.img-brk {
	display: block
}
._iH a.fl {
	display: inline-block;
	padding: 5px 8px 7px
}
._iH {
	bottom: 1px;
	letter-spacing: 1px;
	padding: 0;
	position: absolute;
	right: 0
}
.kno-mrg ._iH a.fl, #iur ._iH a.fl {
	color: #fff;
	font-size: 16px;
	text-decoration: none
}
._iH:hover {
	background: #000
}
#iur ._iH {
	bottom: 2px;
	margin-bottom: 0px
}
.kno-fb-on {
}
.kno-fb-on ._iH {
	display: none
}
._iH {
	background: #000000;
	background: rgba(0,0,0,0.4);
	-webkit-transition: background 0.2s ease-in-out
}
.kno-mrg ._iH a.fl, #iur ._iH a.fl {
	text-shadow: 0 0 2px black, 0 0 3px black
}
.birrg {
	font-size: 13px
}
.rg_ul {
	white-space: normal;
	margin-right: -7px
}
.kp-blk .rg_ul {
	margin-right: 0
}
.img-kc-m, .bi-io {
}
.bili {
	vertical-align: top;
	display: inline-block;
	margin-top: 0;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 0;
	position: relative
}
.bicc {
	line-height: 0;
	overflow: hidden;
	position: relative
}
._eV {
	margin-right: 1px;
	margin-bottom: 1px;
	float: left
}
.kno-mrg-si ._eV {
	margin: 0 0 1px 0
}
._eV a img {
	border: 0
}
._eV div img {
	border: 0
}
.kno-mrg-si ._eV {
	margin-bottom: 0px
}
._ZGc {
	margin-right: 4px;
	margin-bottom: 4px;
}
._pEh {
	margin-right: 0px;
	margin-bottom: 0px
}
.xpdclps .kno-mrg-si ._eV {
	margin: 0
}
.bi-lq {
	height: 100%;
	position: absolute;
	width: 100%
}
.bia {
	display: block;
	position: absolute
}
.img-kc-m {
	position: absolute
}
.kno-mrg-hnm .img-kc-m {
	position: relative
}
._Usc, .rg_ilbg {
	bottom: 0;
	color: #fff;
	font-size: 11px;
	line-height: 100%;
	position: absolute;
	right: 0;
	padding: 3px 4px 5px;
	text-decoration: none
}
.g-blk .rg_ilbg {
	left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.rg_ilbg {
	background: #333
}
.rg_ilbg {
	background: rgba(51,51,51,0.8)
}
.bi-io {
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
	right: 0;
	top: 0;
	z-index: 1
}
._VGc {
	bottom: 0;
	position: absolute;
	width: 100%
}
._WGc {
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.75));
	color: #CCC;
	font-size: 13px;
	height: 13px;
	line-height: 13px;
	padding: 7px 10px;
	text-align: right;
	text-shadow: 0 0 4px rgba(0,0,0,0.2)
}
.bili ._ALn {
	display: none
}
._w5j {
	background-color: rgba(0,0,0,0.54);
	bottom: 8px;
	color: rgb(255,255,255);
	font-family: arial, sans-serif-medium, sans-serif;
	font-size: 16px;
	left: 8px;
	padding: 16px 8px;
	position: absolute
}
._dVe {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMjQgNEMxMi45NSA0IDQgMTIuOTUgNCAyNHM4Ljk1IDIwIDIwIDIwIDIwLTguOTUgMjAtMjBTMzUuMDUgNCAyNCA0em0tNCAyOVYxNWwxMiA5LTEyIDl6Ii8+PC9zdmc+) no-repeat;
	background-size: 48px 48px;
	-webkit-filter: drop-shadow(0 0 8px rgba(0,0,0,0.10));
	height: 48px;
	left: 50%;
	opacity: 0.87;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 48px
}
g-img {
	display: block
}
._WCg {
	display: block;
	border: 0;
	position: relative
}
#rcnt a._glf:hover {
	text-decoration: underline
}
a._glf, ._hlf {
	display: block;
	text-decoration: none;
	padding: 8px 0;
}
._Gbo a._glf, ._Gbo ._hlf {
	padding-left: 26px;
	padding-right: 26px
}
._tRp a._glf {
	padding-left: 0px
}
a._glf {
	align-items: center;
	align-items: center;
	-webkit-box-align: center;
	display: -webkit-box;
	display: flex;
	display: flex
}
._slf {
	color: #a2a2a2;
	margin-left: 15px;
	margin-right: 24px;
	min-width: 24px;
	vertical-align: middle
}
._Gbo ._slf {
	color: #4285f4;
	margin-right: 24px
}
._tRp ._slf {
	margin-right: 16px
}
.kp-blk .xpdclose ._wle, .kp-blk .xpdopen ._xle {
	border-top: solid 1px #ebebeb
}
.kp-blk .xpdclose ._UXp, .kp-blk .xpdopen ._UXp {
	border-top: none
}
.kp-blk ._G1d .mod:first-child {
	padding-top: 0
}
.rhstc3 ._cgc {
	overflow: visible
}
.xpdclose ._wWc {
	display: none
}
.kno-desc-fm ._wWc, .kno-desc-fm .xpdxpnd, .xpdclose .kno-desc-fm .xpdxpnd, .kno-desc-sh ._wWc, .kno-desc-sh .xpdxpnd, .xpdclose .kno-desc-sh .xpdxpnd {
	display: inline
}
.kno-desc-sh ._dgc {
	display: inline
}
.kno-desc-sh ._V4i, .kno-desc-sh ._V4i._wWc, .kno-desc-sh ._V4i.xpdxpnd {
	display: none
}
.kno-desc-fm ._R4i {
	display: none
}
.kno-desc-sh ._R4i, .kno-desc-sh ._vWc {
	display: none
}
.xpdopen ._R4i {
	display: none
}
._Mrt a._KCd {
	color: #1a0dab
}
._cgc {
	overflow: hidden;
	margin: 13px 0 13px;
}
._dgc {
	display: none
}
._Mrt .kno-fb-ctx a.fl, ._Mrt ._P0e {
	color: #1a0dab
}
._tWc {
	white-space: nowrap
}
._mr {
	margin-top: 7px
}
.oleo {
}
.kno-fv ._trd {
	display: none
}
._wD ._mr {
	font-size: 13px;
	margin-top: 2px
}
._gn .kno-fv {
	color: #fff
}
._rod ._gn .kno-fv {
	color: rgba(0,0,0,.87)
}
._wD ._Xbe {
	color: #222
}
.kno-fb-d3 ._mr.kno-fb-ctx {
	padding-top: 3px;
	padding-bottom: 3px
}
._wdb {
	color: #777;
	font-size: 11px
}
._wdb a:link, ._wdb a:visited {
	color: #777;
	text-decoration: none
}
._wdb a:active, ._wdb a:hover {
	color: #777;
	text-decoration: underline
}
._pDn {
	font-size: 13px;
	color: #1a0dab
}
._pDn a:link, ._pDn a:visited {
	color: #1a0dab;
	text-decoration: none
}
._Mft {
	color: #1a0dab;
	display: inline-block;
	font-family: arial, sans-serif-medium, sans-serif;
	line-height: 14px;
}
._Mrt ._Mft {
	color: #1a0dab
}
._Nft {
	width: 18px;
	height: 18px;
	margin: -4px 0
}
._pDn a:active, ._pDn a:hover {
	color: #1a0dab;
	text-decoration: underline
}
._LCd {
	cursor: pointer
}
._UZd {
	display: none
}
.kno-fv-exp {
}
.kno-fv-exp>._LCd {
	display: none
}
.kno-fv-exp>._UZd {
	display: inline
}
._LCd:active {
	color: #dd4b39
}
._LCd:active, ._LCd:hover {
	text-decoration: underline
}
._xdb {
	font-weight: bolder
}
._xdb .fl {
	color: #222 !important
}
._wD ._xdb {
	font-weight: normal
}
._c4._Dnh {
	overflow: hidden
}
._c4._j4i {
	white-space: normal
}
._c4 {
	padding-top: 8px;
	white-space: nowrap
}
._bln {
	padding: 4px 8px;
	float: right;
	margin: auto 0
}
.xpdclose ._E4p, .xpdopen ._faq {
	margin-bottom: 24px
}
._W5e a {
	text-decoration: none
}
._X5e {
	margin-top: 24px
}
.xpdclose .xpdxpnd._X5e {
	margin: 0
}
._W5e a:hover {
	text-decoration: underline
}
.mod._tN ._X5e {
	margin-left: 16px;
	margin-right: 16px
}
#rhs .mod._tN ._X5e {
	margin-left: 15px;
	margin-right: 15px
}
._W5e {
	color: #222;
	font-size: 18px
}
._W5e a {
	color: #222
}
._uhe {
	position: absolute;
	right: 15px;
	top: -17px
}
a._Zjg {
	color: #777;
	text-decoration: none
}
a._Zjg:hover {
	text-decoration: underline
}
._cfh {
	display: inline-block;
	padding-left: 8px
}
.kno-vrt-t._Dnh {
	padding-left: 16px
}
._cfh:first-child, .kno-vrt-t._Dnh:first-child {
	padding-left: 17px
}
.kno-vrt-t {
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-align: left;
	vertical-align: top;
}
.kno-vrt-t._Dnh:first-child ._O1k {
	left: 25px
}
.kno-vrt-t ._O1k {
	position: absolute;
	top: 5px;
	left: 20px;
}
._OCl {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #4285f4
}
#rhs .kno-vrt-t {
	padding-left: 16px
}
.kno-fb-on .kno-vrt-t._mDd {
	margin-top: 21px
}
._zX, ._NRl, ._aMb, ._MEj, ._xTl {
}
._wDp {
	padding-bottom: 5px
}
._zX {
	color: #777;
}
._MEj {
	font-size: 14px
}
._NRl {
	display: block;
	white-space: normal;
	margin: 3px 0 -1px;
	padding-bottom: 1px;
	width: 100%;
}
.kno-vrt-t {
	line-height: 1.1;
	white-space: normal
}
._zX {
	font-size: x-small;
	padding-top: 2px
}
.kno-vrt-t a {
	min-height: 100%;
	display: block
}
._eSg {
	overflow: hidden
}
._lrg {
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
	bottom: 0;
	color: #fff;
	font-size: larger;
	padding: 5px 10px;
	position: absolute;
	right: 0
}
div._AZr {
	float: right
}
._zZr {
	color: #9e9e9e;
	cursor: pointer;
	padding-right: 8px
}
._BZr {
	color: #9e9e9e;
	float: right;
	font-size: 12px
}
.kno-ftr {
	clear: both;
	color: #777;
	font-size: 11px;
	line-height: normal;
	overflow: hidden
}
.kno-ftr a {
	color: #777;
	text-decoration: none
}
._OPd {
	float: right;
	margin-left: 2em
}
._Cnk {
	font-style: italic;
	margin-right: -2em
}
.kno-ftr a:hover {
	text-decoration: underline
}
div._hWr {
	padding: 4px 16px 0px 8px;
	margin-bottom: -4px
}
.kno-ftr {
	margin-left: -16px;
	margin-right: -16px;
	padding: 4px 16px 0;
}
.kno-ftr.rhsvw {
	margin-left: 2px;
	padding-top: 4px
}
#rhs .kno-ftr.rhsvw {
	border: none
}
._F2g {
	outline: 0
}
._F2g:hover {
	cursor: pointer;
	text-decoration: underline
}
a.duf3 {
	color: #777;
	float: right;
	font-style: italic;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0)
}
a._G8q {
	color: rgba(0,0,0,.54);
	float: none;
	font-style: normal
}
a._sWr {
	padding: 0 5px;
	background: rgba(255,255,255,.9);
}
._v1h {
	color: #9e9e9e;
	cursor: pointer;
	padding-right: 8px
}
._rWr {
	color: #9e9e9e;
	float: right;
	font-size: 12px;
	padding-bottom: 4px
}
