@charset "utf-8";
/* CSS Document */

[dir='ltr'], [dir='rtl'] {
unicode-bidi:-webkit-isolate;
unicode-bidi:isolate
}
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override;
	unicode-bidi: -webkit-isolate-override;
	unicode-bidi: isolate-override
}
#logo {
	display: block;
	overflow: hidden;
	position: relative
}
#logo img {
	border: 0;
}
#logo span {
	background: url(/images/nav_logo242.png) no-repeat;
	cursor: pointer;
	overflow: hidden
}
#logocont {
	z-index: 1;
	padding-left: 13px;
	padding-right: 10px;
	padding-top: 7px
}
#logocont.ddl {
	padding-top: 3px
}
.big #logocont {
	padding-left: 13px;
	padding-right: 12px
}
.sbibod {
	background-color: #fff;
	height: 44px;
	vertical-align: top;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.lst {
	border: 0;
	margin-top: 5px;
	margin-bottom: 0
}
.lst:focus {
	outline: none
}
.gsfi, .lst {
	font: 16px arial, sans-serif;
	line-height: 34px;
	height: 34px !important;
}
.lst-c {
	overflow: hidden
}
#gs_st0 {
	line-height: 44px;
	padding: 0 8px;
	margin-top: -1px;
	position: static
}
.srp #gs_st0 {
	padding: 0 2px 0 8px
}
.gsfs {
	font: 16px arial, sans-serif
}
.lsb {
	background: transparent;
	border: 0;
	font-size: 0;
	height: 30px;
	outline: 0;
	text-align: left;
	width: 100%
}
.sbico {
	display: inline-block;
	height: 24px;
	width: 24px;
	cursor: pointer;
	vertical-align: middle;
	color: #4285f4
}
.sbico-c {
	background: transparent;
	border: 0;
	float: right;
	height: 44px;
	line-height: 44px;
	margin-top: -1px;
	outline: 0;
	padding-right: 16px;
	position: relative;
	top: -1px
}
.hp .sbico-c {
	display: none
}
#sblsbb {
	text-align: center;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 44px;
	margin: 0;
	padding: 0;
}
#sbds {
	border: 0;
	margin-left: 0
}
.hp .nojsb, .srp .jsb {
	display: none
}
.kpbb, .kprb, .kpgb, .kpgrb {
	border-radius: 2px;
	border-radius: 2px;
	color: #fff
}
.kpbb:hover, .kprb:hover, .kpgb:hover, .kpgrb:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #fff
}
.kpbb:active, .kprb:active, .kpgb:active, .kpgrb:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
}
.kpbb {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
	border: 1px solid #3079ed
}
.kpbb:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
	border: 1px solid #2f5bb7
}
a.kpbb:link, a.kpbb:visited {
	color: #fff
}
.kprb {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836));
	background-color: #dd4b39;
	background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
	background-image: linear-gradient(top, #dd4b39, #d14836);
	border: 1px solid #dd4b39
}
.kprb:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#c53727));
	background-color: #c53727;
	background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
	background-image: linear-gradient(top, #dd4b39, #c53727);
	border: 1px solid #b0281a;
	border-bottom-color: #af301f
}
.kprb:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#b0281a));
	background-color: #b0281a;
	background-image: -webkit-linear-gradient(top, #dd4b39, #b0281a);
	background-image: linear-gradient(top, #dd4b39, #b0281a)
}
.kpgb {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d9400), to(#398a00));
	background-color: #3d9400;
	background-image: -webkit-linear-gradient(top, #3d9400, #398a00);
	background-image: linear-gradient(top, #3d9400, #398a00);
	border: 1px solid #29691d
}
.kpgb:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d9400), to(#368200));
	background-color: #368200;
	background-image: -webkit-linear-gradient(top, #3d9400, #368200);
	background-image: linear-gradient(top, #3d9400, #368200);
	border: 1px solid #2d6200
}
.kpgrb {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	border: 1px solid #dcdcdc;
	color: #555
}
.kpgrb:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	border: 1px solid #dcdcdc;
	color: #333
}
a.kpgrb:link, a.kpgrb:visited {
	color: #555
}
#sfopt {
	display: inline-block;
	float: right;
	line-height: normal
}
.lsd {
	font-size: 11px;
	position: absolute;
	top: 3px;
	left: 16px
}
.tsf {
	background: none
}
.tsf-p {
	position: relative;
}
.logocont {
	left: 0;
	position: absolute;
}
.sfibbbc {
	padding-bottom: 2px;
	padding-top: 3px;
	margin-top: -3px;
	width: 632px
}
.sbtc {
	position: relative
}
.sbibtd {
	line-height: 0;
	overflow: visible;
	white-space: nowrap
}
.sbibps {
	padding: 0 9px 0 16px;
	padding-top: 0 !important;
	width: 586px
}
.sfopt {
	height: 28px;
	position: relative
}
#sform {
	height: 65px
}
.hp .sfsbc {
	display: none
}
#searchform {
	width: 100%
}
.hp #searchform {
	position: absolute;
	top: 311px
}
.srp #searchform {
	position: absolute;
	top: 20px
}
#sfdiv {
	max-width: 484px
}
.hp .big #sfdiv {
	max-width: 568px;
}
.srp #sfdiv {
	max-width: none;
	overflow: hidden
}
.srp #tsf {
	position: relative;
}
.sfsbc {
	display: inline-block;
	float: right;
	margin-right: 1px;
	vertical-align: top;
	width: 42px;
	margin-right: 0
}
.sfbg {
	background: #fafafa;
	height: 69px;
	left: 0;
	position: absolute;
	width: 100%
}
.sfbgg {
	background-color: #fafafa;
	height: 65px
}
#pocs {
	background: #fff1a8;
	color: #000;
	font-size: 10pt;
	margin: 0;
	padding: 5px 7px
}
#pocs.sft {
	background: transparent;
	color: #777
}
#pocs a {
	color: #11c
}
#pocs.sft a {
	color: #36c
}
#pocs>div {
	margin: 0;
	padding: 0
}
#cnt {
	padding-top: 20px;
}
#subform_ctrl {
	min-height: 0px
}
</style> <style id="ostyle"> .gb_5a {
 display: none!important
}
.gb_6a {
	visibility: hidden
}
@-webkit-keyframes gb__a {
0% {
opacity:0
}
50% {
opacity:1
}
}
@keyframes gb__a {
0% {
opacity:0
}
50% {
opacity:1
}
}
#gbq2 {
	display: block
}
#gbqf {
	display: block;
	margin: 0;
	margin-right: 60px;
	white-space: nowrap
}
.gbqff {
	border: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 100%
}
.gbqfqw, #gbqfb, .gbqfwa {
	vertical-align: top
}
#gbqfaa, #gbqfab, #gbqfqwb {
	position: absolute
}
#gbqfaa {
	left: 0
}
#gbqfab {
	right: 0
}
.gbqfqwb, .gbqfqwc {
	right: 0;
	left: 0;
	height: 100%
}
.gbqfqwb {
	padding: 0 8px
}
#gbqfbw {
	display: inline-block;
	vertical-align: top
}
#gbqfb {
	border: 1px solid transparent;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 30px;
	margin: 0;
	outline: none;
	padding: 0 0;
	width: 60px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #4285f4;
	background: -webkit-linear-gradient(top, #4387fd, #4683ea);
	background: linear-gradient(top, #4387fd, #4683ea);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=1)
}
#gbqfb:hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}
#gbqfb:focus {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5)
}
#gbqfb:hover:focus {
	-webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1)
}
#gbqfb:active:active {
	border: 1px solid transparent;
	-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
	background: #3c78dc;
	background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
	background: linear-gradient(top, #3c7ae4, #3f76d3);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4, endColorstr=#3f76d3, GradientType=1)
}
.gbqfi {
	background-position: -428px 0;
	display: inline-block;
	margin: -1px;
	height: 30px;
	width: 30px
}
.gbqfqw {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	border-right-width: 0;
	height: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
#gbfwc .gbqfqw {
	border-right-width: 1px
}
#gbqfqw {
	position: relative
}
.gbqfqw.gbqfqw:hover {
	border-color: #a9a9a9;
	border-color: rgba(0,0,0,.3)
}
.gbqfwa {
	display: inline-block;
	width: 100%
}
.gbqfwb {
	width: 40%
}
.gbqfwc {
	width: 60%
}
.gbqfwb .gbqfqw {
	margin-left: 10px
}
.gbqfqw.gbqfqw:active, .gbqfqw.gbqfqwf.gbqfqwf {
	border-color: #4285f4
}
#gbqfq, #gbqfqb, #gbqfqc {
	background: transparent;
	border: none;
	height: 20px;
	margin-top: 4px;
	padding: 0;
	vertical-align: top;
	width: 100%
}
#gbqfq:focus, #gbqfqb:focus, #gbqfqc:focus {
	outline: none
}
.gbqfif, .gbqfsf {
	color: #222;
	font: 16px arial, sans-serif
}
#gbqfbwa {
	display: none;
	text-align: center;
	height: 0
}
#gbqfbwa .gbqfba {
	margin: 16px 8px
}
#gbqfsa, #gbqfsb {
	font: bold 11px/27px Arial, sans-serif!important;
	vertical-align: top
}
.gb_ea .gbqfqw.gbqfqw, .gb_X .gbqfqw.gbqfqw {
	border-color: rgba(255,255,255,1);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2)
}
.gb_ea #gbqfb, .gb_X #gbqfb {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2)
}
.gb_ea #gbqfb:hover, .gb_X #gbqfb:hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,.2)
}
.gb_ea #gbqfb:active, .gb_X #gbqfb:active {
	-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 2px 0 rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.2)
}
.gbqfb, .gbqfba, .gbqfbb {
	cursor: default!important;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none!important;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: none
}
.gbqfba:focus {
	border: 1px solid #4d90fe;
	outline: none;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5)
}
.gbqfba:hover {
	border-color: #c6c6c6;
	color: #222!important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background: #f8f8f8;
	background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background: linear-gradient(top, #f8f8f8, #f1f1f1);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8, endColorstr=#f1f1f1, GradientType=1)
}
.gbqfba:hover:focus {
	-webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0,0,0,0.1)
}
.gbqfb::-moz-focus-inner {
border:0
}
.gbqfba::-moz-focus-inner {
border:0
}
.gbqfba {
	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,0.1);
	color: #444!important;
	font-size: 11px;
	background: #f5f5f5;
	background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background: linear-gradient(top, #f5f5f5, #f1f1f1);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#f1f1f1, GradientType=1)
}
.gbqfba:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}
@-webkit-keyframes gb__nb {
0% {
-webkit-transform:scale(0, 0);
transform:scale(0, 0)
}
20% {
-webkit-transform:scale(1.4, 1.4);
transform:scale(1.4, 1.4)
}
50% {
-webkit-transform:scale(.8, .8);
transform:scale(.8, .8)
}
85% {
-webkit-transform:scale(1.1, 1.1);
transform:scale(1.1, 1.1)
}
to {
	-webkit-transform: scale(1.0, 1.0);
	transform: scale(1.0, 1.0)
}
}
@keyframes gb__nb {
0% {
-webkit-transform:scale(0, 0);
transform:scale(0, 0)
}
20% {
-webkit-transform:scale(1.4, 1.4);
transform:scale(1.4, 1.4)
}
50% {
-webkit-transform:scale(.8, .8);
transform:scale(.8, .8)
}
85% {
-webkit-transform:scale(1.1, 1.1);
transform:scale(1.1, 1.1)
}
to {
	-webkit-transform: scale(1.0, 1.0);
	transform: scale(1.0, 1.0)
}
}
.gb_wc {
	background-position: -314px -38px;
	opacity: .55;
	height: 100%;
	width: 100%
}
.gb_b:hover .gb_wc, .gb_b:focus .gb_wc {
	opacity: .85
}
.gb_xc .gb_wc {
	background-position: -463px 0
}
.gb_yc {
	background-color: #cb4437;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font: bold 11px Arial;
	color: #fff;
	line-height: 16px;
	min-width: 14px;
	padding: 0 1px;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	top: 0;
	visibility: hidden;
	z-index: 990
}
.gb_zc .gb_yc, .gb_zc .gb_Ac, .gb_zc .gb_Ac.gb_Bc {
	visibility: visible
}
.gb_Ac {
	padding: 0 2px;
	visibility: hidden
}
.gb_Cc:not(.gb_Dc) .gb_mb, .gb_Cc:not(.gb_Dc) .gb_lb {
	left: 3px
}
.gb_yc.gb_Ec {
	-webkit-animation: gb__nb .6s 1s both ease-in-out;
	animation: gb__nb .6s 1s both ease-in-out;
	-webkit-perspective-origin: top right;
	perspective-origin: top right;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: top right;
	transform-origin: top right
}
.gb_Ec .gb_Ac {
	visibility: visible
}
.gb_ea .gb_b .gb_wc {
	background-position: 0 0;
	opacity: .7
}
.gb_ea .gb_xc .gb_wc {
	background-position: -279px -38px
}
.gb_ea .gb_b:hover .gb_wc, .gb_ea .gb_b:focus .gb_wc {
	opacity: .85
}
.gb_X .gb_b .gb_wc {
	background-position: -349px -38px;
	opacity: 1
}
.gb_X .gb_xc .gb_wc {
	background-position: -393px 0
}
.gb_ea .gb_yc, .gb_X .gb_yc {
	border: none
}
.gb_Cc .gb_Fc {
	font-size: 14px;
	font-weight: bold;
	top: 0;
	right: 0
}
.gb_Cc .gb_b {
	display: inline-block;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	width: 30px
}
.gb_Cc .gb_lb {
	border-bottom-color: #e5e5e5
}
.gb_Hc {
	background-color: rgba(0,0,0,.55);
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin: 5px;
	padding: 0 2px;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 20px;
	width: 20px
}
.gb_Hc.gb_Ic {
	background-position: -194px -21px
}
.gb_Hc.gb_Jc {
	background-position: -194px -46px
}
.gb_b:hover .gb_Hc, .gb_b:focus .gb_Hc {
	background-color: rgba(0,0,0,.85)
}
#gbsfw.gb_Kc {
	background: #e5e5e5;
	border-color: #ccc
}
.gb_ea .gb_Hc {
	background-color: rgba(0,0,0,.7)
}
.gb_X .gb_Hc.gb_Hc, .gb_X .gb_zc .gb_Hc.gb_Hc, .gb_X .gb_zc .gb_b:hover .gb_Hc, .gb_X .gb_zc .gb_b:focus .gb_Hc {
	background-color: #fff;
	color: #404040
}
.gb_X .gb_Hc.gb_Ic {
	background-position: -70px 0
}
.gb_X .gb_Hc.gb_Jc {
	background-position: -219px 0
}
.gb_zc .gb_Hc.gb_Hc {
	background-color: #db4437;
	color: #fff
}
.gb_zc .gb_b:hover .gb_Hc, .gb_zc .gb_b:focus .gb_Hc {
	background-color: #a52714
}
.gb_N .gbqfi::before {
	left: -428px;
	top: 0
}
.gb_Ib .gbqfb:focus .gbqfi {
	outline: 1px dotted #fff
}
.gb_da .gb_b {
	background-position: -132px -38px;
	opacity: .55
}
.gb_ea .gb_da .gb_b {
	background-position: -132px -38px
}
.gb_X .gb_da .gb_b {
	background-position: -463px -35px;
	opacity: 1
}
.gb_fa.gb_ga {
	min-height: 196px;
	overflow-y: auto;
	width: 320px
}
.gb_ha {
	-webkit-transition: height .2s ease-in-out;
	transition: height .2s ease-in-out
}
.gb_ia {
	background: #fff;
	margin: 0;
	min-height: 100px;
	padding: 28px;
	padding-right: 27px;
	text-align: left;
	white-space: normal;
	width: 265px
}
.gb_ja {
	background: #f5f5f5;
	cursor: pointer;
	height: 40px;
	overflow: hidden
}
.gb_ka {
	position: relative
}
.gb_ja {
	display: block;
	line-height: 40px;
	text-align: center;
	width: 320px
}
.gb_ka {
	display: block;
	line-height: 40px;
	text-align: center
}
.gb_ka.gb_la {
	line-height: 0
}
.gb_ja, .gb_ja:visited, .gb_ja:active, .gb_ka, .gb_ka:visited {
	color: #737373;
	text-decoration: none
}
.gb_ka:active {
	color: #737373
}
#gb a.gb_ja, #gb a.gb_ja:visited, #gb a.gb_ja:active, #gb a.gb_ka, #gb a.gb_ka:visited {
	color: #737373;
	text-decoration: none
}
#gb a.gb_ka:active {
	color: #737373
}
.gb_ka, .gb_ia {
	display: none
}
.gb_ba, .gb_ba+.gb_ka, .gb_ma .gb_ka, .gb_ma .gb_ia {
	display: block
}
.gb_ka:hover, .gb_ka:active, #gb a.gb_ka:hover, #gb a.gb_ka:active {
	text-decoration: underline
}
.gb_ka {
	border-bottom: 1px solid #ebebeb;
	left: 28px;
	width: 264px
}
.gb_ma .gb_ja {
	display: none
}
.gb_ka:last-child {
	border-bottom-width: 0
}
.gb_na .gb_O {
	display: initial
}
.gb_na.gb_oa {
	height: 100px;
	text-align: center
}
.gb_na.gb_oa img {
	padding: 34px 0;
	height: 32px;
	width: 32px
}
.gb_na .gb_2 {
	background-image: url('//ssl.gstatic.com/gb/images/p1_8347dfa4.png');
	-webkit-background-size: 64px 2272px;
	background-size: 64px 2272px;
	background-position: 0 -1725px
}
.gb_na .gb_2+img {
	border: 0;
	margin: 8px;
	height: 48px;
	width: 48px
}
.gb_na div.gb_pa {
	background: #ffa;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	text-align: center
}
.gb_na.gb_qa, .gb_na.gb_ra {
	padding-bottom: 0
}
.gb_na.gb_sa, .gb_na.gb_ra {
	padding-top: 0
}
.gb_na.gb_ra a, .gb_na.gb_sa a {
	top: 0
}
.gb_ta .gb_ja {
	margin-top: 0;
	position: static
}
.gb_ua {
	display: inline-block
}
.gb_va {
	margin: -12px 28px 28px;
	position: relative;
	width: 264px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1)
}
.gb_4 {
	background-image: url('//ssl.gstatic.com/gb/images/p1_8347dfa4.png');
	-webkit-background-size: 64px 2272px;
	background-size: 64px 2272px;
	display: inline-block;
	margin: 8px;
	vertical-align: middle;
	height: 64px;
	width: 64px
}
.gb_wa {
	color: #262626;
	display: inline-block;
	font: 13px/18px Arial, sans-serif;
	margin-right: 80px;
	padding: 10px 10px 10px 0;
	vertical-align: middle;
	white-space: normal
}
.gb_xa {
	font: 16px/24px Arial, sans-serif
}
.gb_ya, #gb#gb .gb_ya {
	color: #427fed;
	text-decoration: none
}
.gb_ya:hover, #gb#gb .gb_ya:hover {
	text-decoration: underline
}
.gb_za .gb_ia {
	position: relative
}
.gb_za .gb_O {
	position: absolute;
	top: 28px;
	left: 28px
}
.gb_ja.gb_Aa {
	display: none;
	height: 0
}
.gb_7a {
	-webkit-background-size: 32px 32px;
	background-size: 32px 32px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin: -1px;
	overflow: hidden;
	position: relative;
	height: 32px;
	width: 32px;
	z-index: 0
}
@media (min-resolution:1.25dppx), (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-device-pixel-ratio:1.25) {
.gb_7a::before {
display:inline-block;
-webkit-transform:scale(.5);
transform:scale(.5);
-webkit-transform-origin:left 0;
transform-origin:left 0
}
.gb_ub::before {
display:inline-block;
-webkit-transform:scale(.5);
transform:scale(.5);
-webkit-transform-origin:left 0;
transform-origin:left 0
}
}
.gb_7a:hover, .gb_7a:focus {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 0 rgba(0,0,0,.15)
}
.gb_7a:active {
	-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 2px 0 rgba(0,0,0,.15)
}
.gb_7a:active::after {
	background: rgba(0,0,0,.1);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	content: '';
	display: block;
	height: 100%
}
.gb_8a {
	cursor: pointer;
	line-height: 30px;
	min-width: 30px;
	opacity: .75;
	overflow: hidden;
	vertical-align: middle;
	text-overflow: ellipsis
}
.gb_b.gb_8a {
	width: auto
}
.gb_8a:hover, .gb_8a:focus {
	opacity: .85
}
.gb_9a .gb_8a, .gb_9a .gb_ab {
	line-height: 26px
}
#gb#gb.gb_9a a.gb_8a, .gb_9a .gb_ab {
	font-size: 11px;
	height: auto
}
.gb_bb {
	border-top: 4px solid #000;
	border-left: 4px dashed transparent;
	border-right: 4px dashed transparent;
	display: inline-block;
	margin-left: 6px;
	opacity: .75;
	vertical-align: middle
}
.gb_cb:hover .gb_bb {
	opacity: .85
}
.gb_X .gb_8a, .gb_X .gb_bb {
	opacity: 1
}
#gb#gb.gb_X.gb_X a.gb_8a, #gb#gb .gb_X.gb_X a.gb_8a {
	color: #fff
}
.gb_X.gb_X .gb_bb {
	border-top-color: #fff;
	opacity: 1
}
.gb_ea .gb_7a:hover, .gb_X .gb_7a:hover, .gb_ea .gb_7a:focus, .gb_X .gb_7a:focus {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.2)
}
.gb_db .gb_eb, .gb_fb .gb_eb {
	position: absolute;
	right: 1px
}
.gb_eb.gb_R, .gb_gb.gb_R, .gb_cb.gb_R {
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-flex: 0 1 main-size;
	flex: 0 1 main-size
}
.gb_hb.gb_W .gb_8a {
	width: 30px!important
}
.gb_ib.gb_6a {
	display: none
}
@-webkit-keyframes bar {
0% {
margin-left:-100%
}
to {
	margin-left: 100%
}
}
@keyframes progressmove {
0% {
margin-left:-100%
}
to {
	margin-left: 100%
}
}
.gb_jb.gb_5a {
	display: none
}
.gb_jb {
	background-color: #ccc;
	height: 3px;
	overflow: hidden
}
.gb_kb {
	background-color: #f4b400;
	height: 100%;
	width: 50%;
	-webkit-animation: progressmove 1.5s linear 0s infinite;
	animation: progressmove 1.5s linear 0s infinite
}
.gb_8a~.gb_lb, .gb_8a~.gb_mb {
	left: auto;
	right: 6.5px
}
.gb_nb {
	outline: none
}
.gb_ob, #gb a.gb_ob.gb_ob, .gb_pb a, #gb .gb_pb.gb_pb a {
	color: #36c;
	text-decoration: none
}
.gb_ob:active, #gb a.gb_ob:active, .gb_ob:hover, #gb a.gb_ob:hover, .gb_pb a:active, #gb .gb_pb a:active, .gb_pb a:hover, #gb .gb_pb a:hover {
	text-decoration: underline
}
.gb_qb {
	margin: 20px
}
.gb_rb, .gb_sb {
	display: inline-block;
	vertical-align: top
}
.gb_rb {
	margin-right: 20px;
	position: relative
}
.gb_tb {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transform: translateZ(0)
}
.gb_ub {
	-webkit-background-size: 96px 96px;
	background-size: 96px 96px;
	border: none;
	vertical-align: top;
	height: 96px;
	width: 96px
}
.gb_ib {
	background: rgba(78,144,254,.7);
	bottom: 0;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
	left: 0;
	line-height: 9px;
	position: absolute;
	padding: 7px 0;
	text-align: center;
	width: 96px
}
.gb_tb .gb_ib {
	background: rgba(0,0,0,.54)
}
.gb_vb {
	font-weight: bold;
	margin: -4px 0 1px 0
}
.gb_xb {
	color: #666
}
.gb_pb {
	color: #ccc;
	margin: 6px 0
}
.gb_pb a {
	margin: 0 10px
}
.gb_pb a:first-child {
	margin-left: 0
}
.gb_pb a:last-child {
	margin-right: 0
}
.gb_sb .gb_yb {
	background: #4d90fe;
	border-color: #3079ed;
	font-weight: bold;
	margin: 10px 0 0 0;
	color: #fff
}
#gb .gb_sb a.gb_yb.gb_yb {
	color: #fff
}
.gb_sb .gb_yb:hover {
	background: #357ae8;
	border-color: #2f5bb7
}
.gb_zb {
	background: #f5f5f5;
	border-top: 1px solid #ccc;
	border-color: rgba(0,0,0,.2);
	padding: 10px 0;
	width: 100%;
	display: table
}
.gb_zb .gb_yb {
	margin: 0 20px
}
.gb_zb>div {
	display: table-cell;
	text-align: right
}
.gb_zb>div:first-child {
	text-align: left
}
.gb_zb .gb_Ab {
	display: block;
	text-align: center
}
.gb_Bb .gb_lb {
	border-bottom-color: #fef9db
}
.gb_Cb {
	background: #fef9db;
	font-size: 11px;
	padding: 10px 20px;
	white-space: normal
}
.gb_Cb b, .gb_ob {
	white-space: nowrap
}
.gb_Fb {
	background: #f5f5f5;
	border-top: 1px solid #ccc;
	border-top-color: rgba(0,0,0,.2);
	max-height: 230px;
	overflow: auto
}
.gb_Hb {
	border-top: 1px solid #ccc;
	border-top-color: rgba(0,0,0,.2);
	display: block;
	padding: 10px 20px;
	position: relative;
	white-space: nowrap
}
.gb_Ib .gb_Hb:focus .gb_Jb {
	outline: 1px dotted #fff
}
.gb_Hb:hover {
	background: #eee
}
.gb_Hb[selected="true"] {
	overflow: hidden
}
.gb_Hb[selected="true"]>.gb_Kb {
	background-color: rgba(117,117,117,.9)
}
.gb_Hb[selected="true"]>.gb_Lb {
	display: block;
	position: absolute;
	z-index: 2
}
.gb_Lb::-moz-focus-inner {
border:0
}
.gb_Lb {
	background-color: transparent;
	border: none;
	color: #fff;
	display: none;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	height: 36px;
	min-width: 86px;
	text-align: center;
	top: 16px;
	width: auto
}
.gb_Hb[selected="true"]>.gb_Lb:focus {
	background-color: rgba(0,0,0,.24);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	outline: 0
}
.gb_Hb[selected="true"]>.gb_Lb:hover, .gb_Hb[selected="true"]>.gb_Lb:focus:hover {
	background-color: #565656;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
.gb_Hb[selected="true"]>.gb_Lb:active {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #212121
}
.gb_Mb {
	left: 0;
	margin-left: 5%
}
.gb_Nb {
	margin-right: 5%;
	right: 0
}
.gb_Hb:first-child, .gb_Ob:first-child+.gb_Hb {
	border-top: 0
}
.gb_Ob {
	display: none
}
.gb_Pb {
	cursor: default
}
.gb_Pb:hover {
	background: transparent
}
.gb_Qb {
	border: none;
	vertical-align: top;
	height: 48px;
	width: 48px
}
.gb_Jb {
	display: inline-block;
	margin: 6px 0 0 10px
}
.gb_Pb .gb_Qb, .gb_Pb .gb_Jb {
	opacity: .4
}
.gb_Rb {
	color: #000
}
.gb_Pb .gb_Rb {
	color: #666
}
.gb_Sb {
	color: #666
}
.gb_Tb {
	color: #666;
	font-style: italic
}
.gb_Kb {
	background-color: transparent;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1
}
.gb_Lb:hover {
	background-color: rgba(100,100,100,0.4)
}
.gb_Ub {
	background: #f5f5f5;
	border-top: 1px solid #ccc;
	border-top-color: rgba(0,0,0,.2);
	display: block;
	padding: 10px 20px
}
.gb_Vb {
	background-position: -244px 0;
	display: inline-block;
	margin: 1px 0;
	vertical-align: middle;
	height: 25px;
	width: 25px
}
.gb_N .gb_Vb::before {
	left: -244px;
	top: 0
}
.gb_Wb {
	color: #427fed;
	display: inline-block;
	padding: 0 25px 0 10px;
	vertical-align: middle;
	white-space: normal
}
.gb_Ub:hover .gb_Wb {
	text-decoration: underline
}
.gb_zb .gb_yb:hover {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-color: #c6c6c6;
	color: #222;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
	background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
	background-image: linear-gradient(top, #fff, #f8f8f8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f8f8f8')
}
#gb#gb a.gb_O {
	color: #404040;
	text-decoration: none
}
#gb#gb a.gb_P, #gb#gb span.gb_P {
	text-decoration: none
}
#gb#gb a.gb_P, #gb#gb span.gb_P {
	color: #000
}
.gb_P {
	opacity: .75
}
#gb#gb a.gb_P:hover, #gb#gb a.gb_P:focus {
	opacity: .85;
	text-decoration: underline
}
.gb_Q.gb_R {
	display: none;
	padding-left: 15px;
	vertical-align: middle
}
.gb_Q.gb_R:first-child {
	padding-left: 0
}
.gb_S.gb_R {
	display: inline-block
}
.gb_Q span {
	opacity: .55;
	-webkit-user-select: text
}
.gb_T .gb_S.gb_R {
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-flex: 0 1 main-size;
	flex: 0 1 main-size;
	display: -webkit-flex;
	display: flex
}
.gb_U .gb_S.gb_R {
	display: none
}
.gb_Q .gb_P {
	display: inline-block;
	line-height: 24px;
	outline: none;
	vertical-align: middle
}
.gb_S .gb_P {
	display: none
}
.gb_V .gb_S .gb_P {
	min-width: 0
}
.gb_W .gb_S .gb_P {
	width: 0!important
}
#gb#gb.gb_X a.gb_P, #gb#gb.gb_X span.gb_P, #gb#gb .gb_X a.gb_P, #gb#gb .gb_X span.gb_P {
	color: #fff
}
#gb#gb.gb_X span.gb_P, #gb#gb .gb_X span.gb_P {
	opacity: .7
}
.gb_Zc {
	display: inline-block;
	padding: 0 0 0 15px;
	vertical-align: middle
}
.gb_Zc:first-child, #gbsfw:first-child+.gb_Zc {
	padding-left: 0
}
.gb_Fc {
	position: relative
}
.gb_b {
	display: inline-block;
	outline: none;
	vertical-align: middle;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	color: #000;
	cursor: pointer;
	text-decoration: none
}
#gb#gb a.gb_b {
	color: #000;
	cursor: pointer;
	text-decoration: none
}
.gb_lb {
	border-color: transparent;
	border-bottom-color: #fff;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	display: none;
	position: absolute;
	left: 6.5px;
	top: 37px;
	z-index: 1;
	height: 0;
	width: 0;
	-webkit-animation: gb__a .2s;
	animation: gb__a .2s
}
.gb_mb {
	border-color: transparent;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	display: none;
	position: absolute;
	left: 6.5px;
	z-index: 1;
	height: 0;
	width: 0;
	-webkit-animation: gb__a .2s;
	animation: gb__a .2s;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(0,0,0,.2);
	top: 36px
}
x:-o-prefocus, div.gb_mb {
border-bottom-color:#ccc
}
.gb_fa {
	background: #fff;
	border: 1px solid #ccc;
	border-color: rgba(0,0,0,.2);
	color: #000;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	display: none;
	outline: none;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 44px;
	-webkit-animation: gb__a .2s;
	animation: gb__a .2s;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: text
}
.gb_Zc.gb_g .gb_lb, .gb_Zc.gb_g .gb_mb, .gb_Zc.gb_g .gb_fa, .gb_g.gb_fa {
	display: block
}
.gb_Zc.gb_g.gb_kf .gb_lb, .gb_Zc.gb_g.gb_kf .gb_mb {
	display: none
}
.gb_lf {
	position: absolute;
	right: 0;
	top: 44px;
	z-index: -1
}
.gb_9a .gb_lb, .gb_9a .gb_mb, .gb_9a .gb_fa {
	margin-top: -10px
}
#gbsfw {
	min-width: 400px;
	overflow: visible
}
.gb_Xb, #gbsfw.gb_g {
	display: block;
	outline: none
}
#gbsfw.gb_pa iframe {
	display: none
}
.gb_Zb {
	padding: 118px 0;
	text-align: center
}
.gb_0b {
	background: no-repeat center 0;
	color: #aaa;
	font-size: 13px;
	line-height: 20px;
	padding-top: 76px;
	background-image: -webkit-image-set(url('//ssl.gstatic.com/gb/images/a/f5cdd88b65.png') 1x, url('//ssl.gstatic.com/gb/images/a/133fc21e88.png') 2x)
}
.gb_0b a {
	color: #4285f4;
	text-decoration: none
}
a.gb_Ba {
	border: none;
	color: #4285f4;
	cursor: default;
	font-weight: bold;
	outline: none;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-user-select: none
}
a.gb_Ba:hover:after, a.gb_Ba:focus:after {
	background-color: rgba(0,0,0,.12);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}
a.gb_Ba:hover, a.gb_Ba:focus {
	text-decoration: none
}
a.gb_Ba:active {
	background-color: rgba(153,153,153,.4);
	text-decoration: none
}
a.gb_Ca {
	background-color: #4285f4;
	color: #fff
}
a.gb_Ca:active {
	background-color: #0043b2
}
.gb_Da {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
	box-shadow: 0 1px 1px rgba(0,0,0,.16)
}
.gb_Ba, .gb_Ca, .gb_Ea, .gb_Fa {
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
.gb_Ea {
	background: #f8f8f8;
	border: 1px solid #c6c6c6
}
.gb_Fa {
	background: #f8f8f8
}
.gb_Ea, #gb a.gb_Ea.gb_Ea, .gb_Fa {
	color: #666;
	cursor: default;
	text-decoration: none
}
#gb a.gb_Fa.gb_Fa {
	cursor: default;
	text-decoration: none
}
.gb_Fa {
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	background: -webkit-linear-gradient(top, #4387fd, #4683ea);
	background: linear-gradient(top, #4387fd, #4683ea);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=0)
}
#gb a.gb_Fa.gb_Fa {
	color: #fff
}
.gb_Fa:hover {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 0 rgba(0,0,0,.15)
}
.gb_Fa:active {
	-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
	background: #3c78dc;
	background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
	background: linear-gradient(top, #3c7ae4, #3f76d3);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4, endColorstr=#3f76d3, GradientType=0)
}
.gb_1b {
	min-width: 127px;
	overflow: hidden;
	position: relative;
	z-index: 987
}
.gb_2b {
	position: absolute;
	padding: 0 20px 0 15px
}
.gb_3b .gb_2b {
	right: 100%;
	margin-right: -127px
}
.gb_4b {
	display: inline-block;
	outline: none;
	vertical-align: middle
}
.gb_5b .gb_4b {
	position: relative;
	top: 2px
}
.gb_4b .gb_6b, .gb_Wa {
	display: block
}
.gb_7b {
	border: none;
	display: block;
	visibility: hidden
}
.gb_4b .gb_6b {
	background-position: 0 -35px;
	height: 33px;
	width: 92px
}
.gb_Wa {
	background-repeat: no-repeat
}
.gb_X .gb_4b .gb_6b {
	background-position: -296px 0
}
.gb_ea .gb_4b .gb_6b {
	background-position: -97px 0;
	opacity: .54
}
.gb_mf {
	display: inline-block;
	line-height: normal;
	position: relative;
	z-index: 987
}
.gb_rf .gb_b {
	background-position: -498px -35px;
	opacity: .55;
	height: 30px;
	width: 30px
}
.gb_rf .gb_b:hover, .gb_rf .gb_b:focus {
	opacity: .85
}
.gb_rf .gb_lb {
	border-bottom-color: #f5f5f5
}
#gbsfw.gb_sf {
	background: #f5f5f5;
	border-color: #ccc
}
.gb_X .gb_rf .gb_b {
	background-position: -428px -35px;
	opacity: 1
}
.gb_ea .gb_rf .gb_b {
	background-position: -498px 0;
	opacity: .7
}
.gb_ea .gb_rf .gb_b:hover, .gb_ea .gb_rf .gb_b:focus {
	opacity: .85
}
.gb_og {
	color: #000;
	font: 13px/27px Arial, sans-serif;
	left: 0;
	min-width: 1092px;
	position: absolute;
	top: 0;
	-webkit-user-select: none;
	width: 100%
}
.gb_uf {
	font: 13px/27px Arial, sans-serif;
	position: relative;
	height: 60px;
	width: 100%
}
.gb_9a .gb_uf {
	height: 28px
}
#gba {
	height: 60px
}
#gba.gb_9a {
	height: 28px
}
#gba.gb_pg {
	height: 90px
}
#gba.gb_qg {
	height: 132px
}
#gba.gb_pg.gb_9a {
	height: 58px
}
.gb_uf>.gb_R {
	height: 60px;
	line-height: 58px;
	vertical-align: middle
}
.gb_9a .gb_uf>.gb_R {
	height: 28px;
	line-height: 26px
}
.gb_uf::before {
	background: #e5e5e5;
	bottom: 0;
	content: '';
	display: none;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0
}
.gb_uf {
	background: #f1f1f1
}
.gb_rg .gb_uf {
	background: #fff
}
.gb_rg .gb_uf::before, .gb_9a .gb_uf::before {
	display: none
}
.gb_ea .gb_uf, .gb_X .gb_uf, .gb_9a .gb_uf {
	background: transparent
}
.gb_ea .gb_uf::before {
	background: #e1e1e1;
	background: rgba(0,0,0,.12)
}
.gb_X .gb_uf::before {
	background: #333;
	background: rgba(255,255,255,.2)
}
.gb_R {
	display: inline-block;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-flex: 0 0 main-size;
	flex: 0 0 main-size
}
.gb_R.gb_sg {
	float: right;
	-webkit-order: 1;
	order: 1
}
.gb_tg {
	white-space: nowrap
}
.gb_T .gb_tg {
	display: -webkit-flex;
	display: flex
}
.gb_tg, .gb_R {
	margin-left: 0!important;
	margin-right: 0!important
}
.gb_6b {
	background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	-webkit-background-size: 528px 68px;
	background-size: 528px 68px
}
@media (min-resolution:1.25dppx), (-webkit-min-device-pixel-ratio:1.25), (min-device-pixel-ratio:1.25) {
.gb_6b {
background-image:url('//ssl.gstatic.com/gb/images/i2_2ec824b0.png')
}
}
.gb_hb {
	min-width: 255px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	text-align: right;
	z-index: 986;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-user-select: none
}
.gb_9a .gb_hb {
	min-width: 0
}
.gb_hb.gb_R {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-flex: 1 1 main-size;
	flex: 1 1 main-size
}
.gb_uc {
	line-height: normal;
	position: relative;
	text-align: left
}
.gb_uc.gb_R, .gb_ce.gb_R, .gb_ab.gb_R {
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-flex: 0 1 main-size;
	flex: 0 1 main-size
}
.gb_eg, .gb_fg {
	display: inline-block;
	padding: 0 0 0 15px;
	position: relative;
	vertical-align: middle
}
.gb_ce {
	line-height: normal;
	padding-right: 15px
}
.gb_hb .gb_ce.gb_U {
	padding-right: 0
}
.gb_ab {
	color: #404040;
	line-height: 30px;
	min-width: 30px;
	overflow: hidden;
	vertical-align: middle;
	text-overflow: ellipsis
}
#gb.gb_9a.gb_9a .gb_Lf, #gb.gb_9a.gb_9a .gb_uc>.gb_fg .gb_Mf {
	background: none;
	border: none;
	color: #36c;
	cursor: pointer;
	filter: none;
	font-size: 11px;
	line-height: 26px;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
#gb.gb_9a.gb_X .gb_Lf, #gb.gb_9a.gb_X .gb_uc>.gb_fg .gb_Mf {
	color: #fff
}
.gb_9a .gb_Lf {
	text-transform: uppercase
}
.gb_hb.gb_V {
	padding-left: 0;
	padding-right: 29px
}
.gb_hb.gb_gg {
	max-width: 400px
}
.gb_hg {
	background-clip: content-box;
	background-origin: content-box;
	opacity: .27;
	padding: 22px;
	height: 16px;
	width: 16px
}
.gb_hg.gb_R {
	display: none
}
.gb_hg:hover, .gb_hg:focus {
	opacity: .55
}
.gb_ig {
	background-position: -219px -25px
}
.gb_jg {
	background-position: -194px 0;
	padding-left: 30px;
	padding-right: 14px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 990
}
.gb_db:not(.gb_fb) .gb_jg, .gb_V .gb_ig {
	display: inline-block
}
.gb_db .gb_ig {
	padding-left: 30px;
	padding-right: 0;
	width: 0
}
.gb_db:not(.gb_fb) .gb_kg {
	display: none
}
.gb_hb.gb_R.gb_V, .gb_V:not(.gb_fb) .gb_uc {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-flex: 0 0 main-size;
	flex: 0 0 main-size
}
.gb_hg, .gb_V .gb_ce, .gb_fb .gb_uc {
	overflow: hidden
}
.gb_db .gb_ce {
	padding-right: 0
}
.gb_V .gb_uc {
	padding: 1px 1px 1px 0
}
.gb_db .gb_uc {
	width: 75px
}
.gb_hb.gb_lg, .gb_hb.gb_lg .gb_ig, .gb_hb.gb_lg .gb_ig::before, .gb_hb.gb_lg .gb_ce, .gb_hb.gb_lg .gb_uc {
	-webkit-transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out;
	transition: width .5s ease-in-out, min-width .5s ease-in-out, max-width .5s ease-in-out, padding .5s ease-in-out, left .5s ease-in-out
}
.gb_T .gb_hb {
	min-width: 0
}
.gb_hb.gb_W, .gb_hb.gb_W .gb_uc, .gb_hb.gb_mg, .gb_hb.gb_mg .gb_uc {
	min-width: 0!important
}
.gb_hb.gb_W, .gb_hb.gb_W .gb_R {
	-webkit-flex: 0 0 auto!important;
	-webkit-box-flex: 0 0 auto!important;
	-webkit-flex: 0 0 auto!important;
	flex: 0 0 auto!important
}
.gb_hb.gb_W .gb_ab {
	width: 30px!important
}
.gb_ng {
	margin-right: 32px
}
.gb_6a {
	display: none
}
.gb_uf ::-webkit-scrollbar {
height:15px;
width:15px
}
.gb_uf ::-webkit-scrollbar-button {
height:0;
width:0
}
.gb_uf ::-webkit-scrollbar-thumb {
background-clip:padding-box;
background-color:rgba(0,0,0,.3);
border:5px solid transparent;
-webkit-border-radius:10px;
border-radius:10px;
min-height:20px;
min-width:20px;
height:5px;
width:5px
}
.gb_uf ::-webkit-scrollbar-thumb:hover, .gb_uf ::-webkit-scrollbar-thumb:active {
background-color:rgba(0,0,0,.4)
}
#gb.gb_wg {
	min-width: 980px
}
#gb.gb_wg .gb_qf {
	min-width: 0;
	position: static;
	width: 0
}
.gb_Nc {
	display: none
}
.gb_wg .gb_uf {
	background: transparent;
	border-bottom-color: transparent
}
.gb_wg .gb_uf::before {
	display: none
}
.gb_wg.gb_wg .gb_Q {
	display: inline-block
}
.gb_wg.gb_hb .gb_ce.gb_U {
	padding-right: 15px
}
.gb_T.gb_wg .gb_S.gb_R {
	display: -webkit-flex;
	display: flex
}
.gb_wg.gb_T #gbqf {
	display: block
}
.gb_wg #gbq {
	height: 0;
	position: absolute
}
.gb_wg.gb_hb {
	z-index: 987
}
sentinel {
}
#gbq .gbgt-hvr, #gbq .gbgt:focus {
	background-color: transparent;
	background-image: none
}
.gbqfh#gbq1 {
	display: none
}
.gbxx {
	display: none !important
}
#gbq {
	line-height: normal;
	position: relative;
	top: 0px;
	white-space: nowrap
}
#gbq {
	left: 0;
	width: 100%
}
#gbq2 {
	top: 0px;
	z-index: 986
}
#gbq4 {
	display: inline-block;
	max-height: 29px;
	overflow: hidden;
	position: relative
}
.gbqfh#gbq2 {
	z-index: 985
}
.gbqfh#gbq2 {
	margin: 0;
	margin-left: 0 !important;
	padding-top: 0;
	position: relative;
	top: 310px
}
.gbqfh #gbqf {
	margin: auto;
	min-width: 534px;
	padding: 0 !important
}
.gbqfh #gbqfbw {
	display: none
}
.gbqfh #gbqfbwa {
	display: block
}
.gbqfh #gbqf {
	max-width: 572px;
	min-width: 572px
}
.gbqfh .gbqfqw {
	border-right-width: 1px
}
.gbii::before {
	content: url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s32-c-mo/photo.jpg)
}
.gbip::before {
	content: url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s96-c-mo/photo.jpg)
}
@media (min-resolution:1.25dppx), (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-device-pixel-ratio:1.25) {
.gbii::before {
content:url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s64-c-mo/photo.jpg)
}
.gbip::before {
content:url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s192-c-mo/photo.jpg)
}
}
.gbii {
	background-image: url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s32-c-mo/photo.jpg)
}
.gbip {
	background-image: url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s96-c-mo/photo.jpg)
}
@media (min-resolution:1.25dppx), (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-device-pixel-ratio:1.25) {
.gbii {
background-image:url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s64-c-mo/photo.jpg)
}
.gbip {
background-image:url(https://lh3.googleusercontent.com/-uOFnAwpJy14/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePa_njLj_b5f32YiwIjhlhDNFaBYeA/s192-c-mo/photo.jpg)
}
}
